*{
  box-sizing: border-box;
}

iframe{ border-radius: 10px;}

.btn-grupo-categoria{
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkslategrey;
}

#wrapper{
  width: 90%;
  margin:auto;
  border-style: solid;
  border-color: black;
}

h1{ margin: 0px;}

img{
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 97%;
  height:400px;
}

.imagen-categoria{
  height: 250px;
  margin:16px 0px 0px 0px;
}

.img-det{text-align: center;}

.img-det img{
  width:180px;
  height: 200px;
}

.lista-det{text-align: left;}

.bnt-detalles{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  text-align: center;
 }

.bnt-detalles div{
  width: 100%;
  text-align: center;
}
  
.bnt-detalles a{
    background-color: #EB5E28;
    border-radius: 10px;
    color: white;
    font-size: smaller;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 4px;    
}

  .bnt-detalles a:hover{
    background-color: black;
    border-radius: 10px;
    color: #EB5E28;
    font-size: smaller;
    text-decoration: none;
  }

header {
  padding: 25px;
  color: white;
  text-align: center;
  background-color: #252422;
}

main{
  display:grid;
  grid-template-columns: 65% 35%;
  
  background-color: black;
  padding: 3px;
}

section{
  
  background-color: #CCC5B9;
  border-radius: 10px;
  color: black;
  margin:1px;
  padding: 10px;
}

aside{
  background-color: #CCC5B9;
  border-radius: 10px;
  color: black;
  margin:1px;
  text-align: center;
  padding: 29px 6px 6px 6px;
  
}



footer{
  padding: 2px;
  color: white;
  font-size: small;
  text-align: center;
  background-color:black;
}

.nav {
  overflow: hidden;
  background-color:black;
  padding: 4px;
  
  
  
}
.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 17px;
  background-color: #EB5E28;
  font-weight: bolder;
  margin: 3px;
  border-color: #EB5E28;
  border-style: solid;
  border-width: 1px;
  
}
.nav a:hover {
  background-color: black;
  color: white;
  font-weight: bolder;
  border-color: #EB5E28;
  border-style: solid;
  border-width: 1px;
}

.nav a.active {
   background-color:black;
  color: white;
  border-width: 0px;
}

.nav .icon {
  display: none;
}

/*Links Categoria*/

.navCategoria{

  display: grid;
  grid-template-columns: auto;
  padding: 2px;
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: small;
  
}

.navCategoria a{

  background-color:#880e4f;
  margin: 2px;
  padding: 2px;;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  

}

.navCategoria a:hover{
  background-color: black;
  border-color: #EB5E28;
}

/*Sections*/

@media screen and (max-width: 600px) {
  
  main{
    display:grid;
    grid-template-columns: 100%;
    text-align: center;
    }
}

@media screen and (max-width: 600px) {
  
 .bnt-detalles{
    display:grid;
    grid-template-columns: 65%;
    text-align: center;
    
    }
}

@media screen and (max-width: 600px) {
  
  section{
    text-align: left;
    
    }
}

@media screen and (max-width: 950px) {
  
  #wrapper{
    width: 100%;
    }
}

@media screen and (max-width: 600px) {
  
  .nav{
    
    padding: 0px;
    
    }
}

@media screen and (max-width: 600px) {
  
  img{
    
    width: 98%;
    
    }
}

/*Navegacion Resposive*/

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
